.grid {
  width: 500px;
  height: 500px;
  display: grid;
  background-color: white;
  margin: auto;
  border-style: solid;
  border-color: black;
}

.cell {
  grid-row: auto;
  grid-column: auto;
}

.cellSwitch {
  grid-row: auto;
  grid-column: auto;
  background-color: black;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
}
