.grid {
  width: 500px;
  height: 500px;
  display: grid;
  background-color: red;
  margin: auto;
}

.cell {
  grid-row: auto;
  grid-column: auto;
}

.cellSwitch {
  grid-row: auto;
  grid-column: auto;
  background-color: blue;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
}
